@import url("styleMenu.css");


body{
    background: #DC7633 ;
}
@font-face{
    font-family: "Courgete";
    src: url(fonts/Courgete.ttf);
    
}
h2 {
    font-size: 40px;
    font-family: "Courgete";
    text-align: center;
    color:#212F3D  ;
}
.content-all{
    width: 300px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
    
}

.content-carrusel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}


.content-carrusel:hover{
    animation-play-state: paused;
}


.content-carrusel figure {
    width: 100%
   
    position:absolute;
    height: 150px;
    overflow: hidden;
}


.content-carusel figure:nth-child(1){ transform: rotateY(0deg)
    translateZ(120px);
    
}

.content-carusel figure:nth-child(2){
    transform: rotateY(240deg)
    translateZ(100px);
    
}

.content-carusel figure:nth-child(3){
    transform: rotateY(360deg)
    translateZ(100px);
    
}
/*

.content-carusel figure:nth-child(4){
    transform: rotateY(120deg)
    translateZ(300px);
    
}
.content-carusel figure:nth-child(5){
    transform: rotateY(160deg)
    translateZ(300px);
    
}

.content-carusel figure:nth-child(6){
    transform: rotateY(200deg)
    translateZ(300px);
    
}


.content-carusel figure:nth-child(7){
    transform: rotateY(240deg)
    translateZ(300px);
    
}

.content-carusel figure:nth-child(8){
    transform: rotateY(280deg)
    translateZ(300px);
    
}
.content-carusel figure:nth-child(9){
    transform: rotateY(320deg)
    translateZ(300px);
    
}

.content-carusel figure:nth-child(10){
    transform: rotateY(360deg)
    translateZ(300px);*/
    
}

.content-carrusel img:hover{
    transform: scale(1.8);
    transition: all 300ms;
}

.content-carrusel img{
    width: 100%
    
}
@keyframes rotar {
    from {
        transform: rotateY(0deg);
        
    } to{
        transform: rotateY(360deg);
    }










































