

#Titulo{
	font-size: 50px;
}

.slider{
	border:2px solid black;
	width: 60%;
	margin:auto;margin-top: 40px;
	overflow: hidden;
	border: 2px solid pink;
	
	box-shadow: 2px 2px 6px pink;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate;
}

.slider li{

	width: 100%;
	list-style:none;
}
.slider img{
	width: 100%;
	height: 500px;
}
.slider ul:hover{
	animation-play-state: paused;
}

@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left: 0;}
	25%{margin-left: -100%; }
	45%{margin-left: -100%; }
	50%{margin-left: -200%; }
	70%{margin-left: -200%; }
	75%{margin-left: -300%; }
	100%{margin-left: -300%; }

}

*{
	background: pink;
}

#footer{
    margin-top: 10px;
  position: absolute;
  left: 245px;
    width: 950px;
    height: 270px;
    background-color: #CD5C5C;
    font-family: "GloriaHallelujah", Arial; 


    
}









