/**{
    margin: 0px;
    padding: 0px;
}*/
@import url("styleMenu.css");

/*
 Secciones
*/
body{
    background: #FF7F50;
}

@font-face{
    font-family: "HomemadeApple";
    src: url(fonts/HomemadeApple.ttf);
    
}
@font-face{
    font-family: "OleoRegular";
    src: url(fonts/OleoRegular.ttf);
    
}

 section>article{
    display: inline-block;
    margin-left:95px;

     }
 #artRight{
    width: 50%;
    text-align: center;
     
    margin-top: 20px;
 
    
 }
 #artLeft{

    width: 25%;
    vertical-align: top; /*Para que se alinie de arriba*/
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "OleoRegular", Arial;


 }

 #artLeft>div{
    padding-top:5px;
    background: #FF6347;
 }


/*Slider imagenes animacion*/
.slider{
   
    width: 100%;
    margin-top: 20px;
    overflow: hidden;

}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li{

    width: 100%;
    list-style:none;
}
.slider img{
    width: 100%;
    height: 500px;
}
.slider ul:hover{
    /*animation-play-state: paused;*/
}

@keyframes cambio{
    0%{margin-left:0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%; }
    45%{margin-left: -100%; }
    50%{margin-left: -200%; }
    70%{margin-left: -200%; }
    75%{margin-left: -300%; }
    100%{margin-left: -300%; }

}
/* Article right*/

#artLeft> div{
    width: 100%;
    height: 100px;
    border:2px solid black;
    background-image: url("Imagenes/backgroundmenu.png");
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;

}


#artLeft>div:hover{
    transform: scale(1.2);
}

/*Article de introduccion*/
article#Introduccion{
    margin:auto;
    margin-top: 60px;
    width: 90%;
    background-image: url("Imagenes/backgroundmenu.png");
    border:2px solid black;
    padding: 10px;
    font-weight: bold;
    background: #FF4500;
    font-family: "HomemadeApple", Calibri;
}
div#informacion{
    text-align: justify;


}


#videos>video{
    width: 25%;
    height:200px;
    margin-left: 5%;
    margin-top: 20px;
    display: inline-block;

    
}

/*
Footer
*/
footer{

    width: 98%;
    border:3px solid black;
    margin-top: 30px;
    background-image: url("Imagenes/backgroundmenu.png");
    background: #FFA500;
}
footer>div{
    display: inline-block;
    width: 40%;
    font-family: "OleoRegular", Arial;
}

footer li{
    margin-left: 50%;
}
footer #fLeft img{
    margin-top: 20px;
    margin-left: 5%;
}

a{
    font-size: 19px;
    align-self: 50%;
}

.contenedor{
    font-family: "OleoRegular";
}





