/*MENU*/


body{
    background: silver;
}

/*titulo*/

@font-face{
    font-family: "Courgete";
    src: url(fonts/Courgete.ttf);
    
}

p#header{
    text-align: center;
    font-size: 2.5em;
    color:#9a9a9a;

    
}

p#subheader{
    text-align: center;
    color:#cecece;
    margin-top:20px;
    font-size: 1.3em;
}

header{
    /*margin:100px auto;*/
    width:95%;
    
    height:230px;
    background-color: none;
    margin: auto;
}

div.contenedor{
    width: 24%;


    height: 100px;

    float:left;
    -webkit-transition: height .4s;
    font-family: "Courgete";
}

div#uno{
    background-color: rgb(208,101,3);
    border: 2px solid black;
    /*background: white; */
  
    height: 200px;

}

div#dos{
    background-color: rgb(233,147,26);
    background-color: rgb(22,145,190);
    border: 2px solid black;
    /*background: black;*/
     
    height: 200px;
}

div#tres{
    background-color: rgb(22,145,190);
    background-color: rgb(233,147,26);
    border: 2px solid black;
    
    height: 200px;
    /*background: white; */
}

div#cuatro{
    background-color: rgb(22,107,162);
    border: 2px solid black;
    background-color: rgb(27,54,71);
     
    height: 200px;
    /*background: black;*/

}


img.icon{
    display: block;
    margin:5% auto;
    background-color: rgba(255,255,255,.15);
    width:20%; /*Modificado*/
    padding:20px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition:box-shadow .4s;
}

p.texto{
    font-size: 1.5em;
    color:white;
    text-align: center;
    padding-top:0px;
    /*opacity: .6;*/
    -webkit-transition: padding-top .4s;
    text-decoration-style: none;

    
}
.contenedor a{
    text-decoration: none;
}

div.contenedor:hover{
    height:270px;
}

div.contenedor:hover p.texto{
    padding-top: 30px;
    opacity: 1;
}

div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}